# 最上層 Editorconfig 設定檔
root = true

# 通用設定檔
[*]
charset = utf-8
end_of_line = lf             # 使用 LF 為換行符號
indent_style = space         # 使用空白作為縮排
indent_size = 2              # 每層縮排使用 2 個空白
insert_final_newline = true
trim_trailing_whitespace = true
