:root {
  --neutral-200: #{$neutral-200};
  --neutral-300: #{$neutral-300};
  --neutral-600: #{$neutral-600};
  --neutral-800: #{$neutral-800};
  --semantic-error: #{$semantic-error};
  --primary-200: #{$primary-200};
  --primary-600: #{$primary-600};
  --CTA-200: #{$CTA-200};
}

.backList {
  &::before {
    content: '';
    background-image: url('/images/icon/chevron-left-svgrepo-com.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.orderID {
  line-height: 38.4px;
  margin: 4.8px 12px 4.8px 8px;
  letter-spacing: 0.1rem;
}
.orderStatusBtn {
  padding: 3px 16px;
  font-size: 12px;
  border: none;
  border-radius: 100px;
  background-color: var(--primary-200);
  color: var(--primary-600);
  &.allDone {
    background-color: var(--neutral-300);
    color: var(--neutral-800);
  }
}
.cancelButton {
  background-color: inherit;
  border: none;
}
.saveButton {
  padding: 14px 24px;
  background-color: var(--CTA-200);
  border-radius: 100px;
  border: none;
}
.subscribeDetail-underline {
  border-bottom: 1px solid $neutral-400;
}
.column-table {
  width: 100%;
  table-layout: fixed;
  > thead > tr > th:nth-child(7),
  > tbody > tr > td:nth-child(7) {
    width: 196px;
  }
  & > tbody > tr > th {
    height: 68px;
    border: none;
  }
}
// .archived .column-table {
//   width: 100%;
//   table-layout: fixed;

//   & th:nth-child(7),
//   & td:nth-child(7) {
//     width: 196px;
//   }

//   &>tbody>tr>th {
//     height: 68px;
//     border: none;
//   }
// }
// .unprocessed table>tbody>tr>th,
// .unprocessed table>tbody>tr>td,
// .archived table>tbody>tr>th,
// .archived table>tbody>tr>td {
//           height: 68px;
//           border: none;
//         }

// 手機板訂單編號
@media (max-width: 992px) {
  .sticky-section {
    position: sticky;
    top: 0;
    transition:
      transform 0.3s ease,
      background-color 0.25s ease;
    &.z-999 {
      z-index: 9999;
    }
    &.is-sticky {
      transform: translateY(-68px);
    }
    &.hide-top {
      transform: translateY(-100%);
    }
    .container {
      .order-mobile {
        height: 92px;
        .subscription-text,
        .subscription-id {
          line-height: 1.2;
        }
        .icon {
          width: 44px;
          height: 44px;
          padding: 11px;
        }
      }
    }
  }
}
.order-mobile-divider {
  margin-top: 6px;
  margin-bottom: 6px;
  border-bottom: 1px solid $neutral-400;
}
.orderCard {
  // background-color: $neutral-400;
  width: 100%;
  &.orderCase {
    padding: 24px 12px 32px;
  }
  &.orderSchedule {
    padding: 16px 12px 32px;
  }
  &.memberInfo {
    padding: 24px 12px 32px;
  }
  @media (min-width: 992px) {
    background-color: $neutral-200;
    border-radius: 24px;
    .caseTitle {
      // padding-bottom: 16px;
      border-bottom: 1px solid $neutral-400;
      margin-bottom: 14px;
    }
    &.orderCase {
      width: 542px;
      padding: 24px;
      flex-shrink: 1;
    }

    &.orderSchedule {
      width: 180px;
      padding: 24px;
      flex-shrink: 1;
    }

    &.memberInfo {
      width: 542px;
      padding: 24px 32px;
      flex-shrink: 1;
    }
  }
}
// 付款狀態
.unprocessed,
.archived,
.unprocessed-mobile,
.archived-mobile {
  .payStatusBadge {
    padding: 3px 16px;
    background-color: var(--neutral-300);
    color: var(--neutral-800);
    border-radius: 100px;
    border: none;
    font-size: 12px;
    cursor: default;
    &.failed {
      color: var(--semantic-error);
      background-color: #f4e6e2;
    }
  }
}

.unprocessed table,
.archived table,
.unprocessed-mobile {
  --bs-table-bg: var(--neutral-200);
  tbody {
    tr:hover > * {
      background-color: $neutral-300;
    }
    th,
    td {
      vertical-align: middle;
    }
  }
  .orderID {
    color: $semantic-link;
  }
  .shipBadge {
    display: inline-flex;
    // align-items: center;
    color: $neutral-800;
    gap: 2.5px;

    .shipText {
      border-bottom: 1px dashed currentColor;
      padding-bottom: 4px;
    }

    &.expanded .shipText {
      border-bottom: none;
    }

    .chevron {
      opacity: 0; //default狀態不會顯示，但是排版還是有站位

      &.show {
        opacity: 1; //用資料控制className要不要加上show來顯示chevron
      }
    }

    &.expanded .chevron {
      transform: rotate(180deg);
    }

    &.error {
      color: var(--semantic-error);
    }
  }
  .fileBadge {
    padding: 9.5px 16px;
    background-color: $neutral-800;
    color: $neutral-100;
    &.shipped-failed {
      background-color: $neutral-300;
      color: $neutral-500;
    }
    &.pointer {
      cursor: pointer;
    }
  }
}

.sub-dropdown {
  position: relative;
  display: inline-block;
  .ship-dropdown-menu {
    min-width: unset;
    width: 100%;
    .dropdown-btn {
      border: none;
    }
  }
}

// 出貨狀態
// .shipStatusBtn {
//   color: $neutral-800;
//   padding: 4px 5.5px 4px 9.5px;
//   .shipText, &.shipText {
//     width: 65px;
//     border-bottom: 2px dashed currentColor;
//   }
//   .shipStatusIcon {
//     opacity: 0;
//     &.show {
//       opacity: 1;
//       transition: 'opacity 0.2s'
//     }
//   }
//   &.failed {
//     color: $semantic-error;
//   }
// }
.sub-dropdown {
  position: relative;
  .shipStatus-btn {
    display: flex;
    align-items: center;
    gap: 2.5px;
    color: $semantic-link;
    .shipStatus-text {
      width: 65px;
      padding-bottom: 4px;
      border-bottom: 1px dashed currentColor;
    }
    .shipStatus-icon {
      opacity: 0;
      color: $neutral-800;
    }
    // 還沒被選過
    &.is-empty:hover {
      color: $neutral-800;
      .shipStatus-text {
        border-bottom: 1px solid currentColor;
      }
      .shipStatus-icon {
        opacity: 1;
        transition: opacity 0.2s ease;
      }
    }
    &.is-selected {
      .shipStatus-text {
        color: $neutral-800;
      }
      &:hover {
        .shipStatus-text {
          border-bottom: 1px solid currentColor;
        }

        .shipStatus-icon {
          opacity: 1;
          transition: opacity 0.2s ease;
        }
      }
      &.show {
        .shipStatus-text {
          border: none;
        }
        .shipStatus-icon {
          opacity: 1;
          transition: opacity 0.2s ease;
        }
      }
    }

    // 展開時 虛線不顯示
    .is-open {
      border: none !important;
    }
    // 異常保留
    &.is-error {
      color: $semantic-error;
      .shipStatus-icon {
        opacity: 0;
      }
    }
    &.is-archieved {
      .shipStatus-text {
        border: none;
      }

      .shipStatus-icon {
        opacity: 0;
      }
    }
    //
    // &:not(.is-archived):not(.is-open) {
    //   .shipStatus-text {
    //     width: 65px;
    //     border-bottom: 1px dashed currentColor;
    //   }

    //   .shipStatus-icon {
    //     opacity: 1;
    //   }
    // }
  }
  .shipStatus-dropdown-menu {
    min-width: unset;
    width: 100%;
    margin-top: 4px;
    background-color: $neutral-100;
    border-radius: 4px;
    border: 2px solid $neutral-100;
    position: absolute;
    z-index: 999;
    .dropdown-btn {
      width: 100%;
      color: $neutral-800;
      border: none;
      background-color: transparent;
      &:hover {
        background-color: $primary-200;
      }
    }
  }
}

// 出貨日期
.shipDate-btn.btn {
  display: flex;
  align-items: center;
  gap: 4px;
  justify-content: center;
  background-color: $neutral-300;
  border-radius: 100px;
  padding: 8px 6px 8px 16px;
  &:hover {
    background-color: $neutral-400;
  }
  // &.is-error {
  //   .shipDate-icon {
  //     display: none;
  //   }
  // }
}
.shipDate-wrapper {
  position: relative;
  .datePicker {
    position: absolute;
    inset: 0;
    opacity: 0;
    cursor: pointer;
  }
}
.shipDate-picker-popup.ant-picker-dropdown {
  .ant-picker-cell-selected .ant-picker-cell-inner,
  .ant-picker-cell-range-start .ant-picker-cell-inner,
  .ant-picker-cell-range-end .ant-picker-cell-inner {
    background-color: $primary-600;
    color: #fff;
  }

  .ant-picker-cell-inner:hover {
    border: 1px solid $primary-600;
  }

  .ant-picker-cell-today .ant-picker-cell-inner::before {
    border-color: $primary-600;
  }

  .ant-picker-today-btn {
    color: $primary-600;
  }
}

.archived {
  .badge {
    width: 68px;
    color: $neutral-800;
    background-color: $neutral-300;
    border-radius: 100px;
    font-weight: 400;
    font-size: 12px;
  }
}

// 手機版本-未處理訂單
.unprocessed-mobile {
  .order-list {
    .order-card {
      .order-content {
        .order-header {
          .order-title {
            line-height: 1.2;
          }
        }
        .order-info {
          padding-top: 6px; //避免跟上面的 divider 產生 margin-collapse(外距塌陷)
          padding-bottom: 6px; //避免跟下面的 divider 產生 margin-collapse
        }
        .order-shipStatus {
          padding-top: 6px; //避免跟上面的 divider 產生 margin-collapse(外距塌陷)
        }
      }
      .order-button {
        padding: 12px 24px;
        border-radius: 100px;
        background-color: $neutral-800;
        color: $neutral-100;
        font-weight: bold;
        text-align: center;
        &.error {
          background-color: $neutral-300;
          color: $neutral-500;
        }
      }
    }
  }
}
// 手機版-底部按鈕列
.mobile-button-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  transition: transform 0.3s ease;
  background-color: $neutral-200;
  &.hide-button-bar {
    transform: translate(100%);
  }
  .button-text {
    padding-left: 26px;
    padding-right: 26px;
  }
  .save-button {
    padding: 14px 77px;
    line-height: 1.2;
    background-color: $CTA-200;
    border-radius: 100px;
    border: none;
  }
}
// 手機版本-按下出貨狀態，背景模糊
.ship-overlay-mobile {
  position: fixed;
  inset: 0;

  backdrop-filter: blur(6px);
  background: rgba(0, 0, 0, 0.6);
  z-index: 900;
}
