.three-dots {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px; // 點與點之間的距離

  span {
    width: 3px;
    height: 3px;
    background-color: currentColor;
    border-radius: 50%;
  }
}

// 分隔線 row
.divider {
  height: 12px;
  padding: 0;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 1px;
    background-color: $neutral-400;
    transform: translateY(-50%);
  }
}
