.shipDate-wrapper {
  position: relative;
  display: inline-block;
  .shipDate-btn {
    width: 148px;
    &.open {
      background-color: $neutral-300;
      border-radius: 100px;
    }
    .shipDate-value {
      text-align: left;
      color: $neutral-700;
    }
    .icon-box {
      width: 16px;
      height: 16px;
      display: flex;
      align-items: center;
      .icon {
        width: 100%;
      }
    }
  }
}
.shipDate-picker {
  position: absolute;
  width: 1;
  height: 1;
  top: 0;
  left: 0;
  opacity: 0;
  margin-left: 16px;
  pointer-events: none;
}
.shipDate-picker-popup {
  td,
  tr {
    width: auto !important;
    height: auto !important;
  }
  // .ant-picker-cell-selected {
  //   .ant-picker-cell-inner {
  //     background: orange;
  //   }
  // }
}

// 手機版本樣式
@media (max-width: 992px) {
  .shipDate-wrapper {
    .shipDate-btn {
      width: 191px;
      padding: 8px 16px;
      gap: 4px;
      background-color: $neutral-300;
      border-radius: 100px;
      &.open {
        background-color: $neutral-400;
      }
      .shipDate-value {
        text-align: center;
      }
      .icon-box {
        width: 24px;
        height: 28px;
        padding: 6px 4px;
      }
    }
    .shipDate-picker {
      bottom: 0;
      right: 0;
    }
  }
}
