@mixin stepper-bar {
  content: '';
  position: absolute;
  top: 16px;
  height: 2px;
  background-color: $neutral-400;
  z-index: 0;
}

// Cart body
.cart-body footer {
  padding-bottom: 75px;
  @media (min-width: 576px) {
    padding-bottom: 40px;
  }
}

// Stepper
.stepper {
  max-width: 816px;
  margin-bottom: 36px;
  list-style: none;
  @media (min-width: 992px) {
    margin-bottom: 60px;
  }
}

.step {
  width: 32px;
  height: 32px;
  border: 2px solid $neutral-400;
  border-radius: 100px;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0;

  &-intro {
    line-height: 19px;
  }
}

.step-item {
  position: relative;
  flex: 1;
  font-weight: bold;
  letter-spacing: 0.1rem;
  color: $neutral-600;

  &:not(:first-child)::before {
    @include stepper-bar;
    left: calc(-50% + 16px); //0;
    right: calc(50% + 16px);
  }

  &.active {
    &:not(:first-child)::before {
      background-color: $neutral-800;
    }
    .step {
      border-width: 0;
      background-color: $neutral-800;
      color: $neutral-200;
    }
    .step-intro {
      color: $neutral-800;
    }
  }
}

// Cart content
.cart {
  &-main {
    padding-top: 108px;
    padding-bottom: 36px;
    @media (min-width: 992px) {
      padding-top: 160px;
      padding-bottom: 90px;
    }
  }
  &-title {
    font-weight: bold;
    letter-spacing: 0.1rem;
    font-size: 20px;
    line-height: 24px;
    @media (min-width: 992px) {
      font-size: 32px;
      line-height: 38px;
    }
  }
  &-panel {
    border-radius: 12px;
    background-color: $neutral-200;
    @media (min-width: 992px) {
      border-radius: 24px;
    }
  }
  &-intro {
    flex-grow: 1;
    min-width: 0;
  }
  &-list {
    height: auto;
    overflow-y: hidden;
    @media (min-width: 992px) {
      height: 1050px;
      overflow-y: auto;
      scrollbar-width: none;
    }
  }
  &-item {
    padding: 12px 12px 24px;
    @media (min-width: 992px) {
      padding: 16px 16px 32px;
    }
  }
  &-item:not(:last-child) {
    position: relative;
    border-bottom: 1px solid $neutral-400;
    margin-bottom: 16px;
  }
  &-notice {
    color: $neutral-700;
    h3 {
      font-size: 14px;
      line-height: 16.8px;
      font-weight: bold;
      letter-spacing: 0.1rem;
    }
    ol {
      padding-left: 1rem;
      font-size: 14px;
      line-height: 21px;
    }
  }
  &-empty {
    display: none;
    @media (min-width: 576px) {
      display: block;
      margin-bottom: 28px;
    }
  }
}

// Remove button
.btn.btn-remove {
  font-size: 14px;
  line-height: 21px;
  color: $semantic-link;
  border: 0;
}

// Theme list
.theme-img {
  width: 60px;
  align-self: flex-start;
  @media (min-width: 576px) {
    width: 80px;
  }
  @media (min-width: 768px) {
    width: 120px;
  }
  @media (min-width: 992px) {
    width: 156px;
  }
}

.theme-price {
  font-size: 14px;
  line-height: 21px;
  color: $neutral-600;
}

.theme-total-price {
  padding: 4px 8px;
  font-weight: bold;
  line-height: 19.2px;
  letter-spacing: 0.1rem;
  align-self: center;
  @media (min-width: 576px) {
    align-self: flex-end;
  }
}

.cart-main,
.login-main {
  .form-check-input {
    &:checked {
      background-color: $neutral-800;
      border-color: $neutral-800;
    }
    &:focus {
      border-color: transparent;
      outline: 0;
      box-shadow: none;
    }
  }

  .form-control,
  .form-select,
  .form-group-filled,
  .form-group-outline,
  .cart-dropdown .btn {
    border-radius: 100px;
    transition: all 0.3s;
    font-size: 14px;
    outline: none !important; //移除預設
    box-shadow: none !important; //移除預設
  }

  //textarea
  .form-group-filled.note-group {
    border-radius: 16px;
    padding: 16px;
    display: flex;
    flex-direction: column;

    textarea.form-control {
      background-color: transparent;
      border-radius: 0;
      border: 0;
      padding: 0;
      height: 84px;
      min-height: 84px;
      font-size: 14px;
      resize: none;
      margin-bottom: 12px;
    }
  }

  // 色塊款式
  .form-group-filled,
  .form-select,
  .cart-dropdown .btn {
    border: 1px solid transparent;
    background-color: $neutral-300;

    &.input-group {
      padding: 0;
      .input-group-text,
      .form-control {
        background-color: transparent;
        border: 0;
        padding: 0;
      }
      .form-control {
        padding-left: 0; // 讓文字貼近 icon
      }
      iconify-icon,
      svg {
        margin: 10px 8px 10px 16px;
        padding: 2px;
      }
    }

    &:focus,
    &:focus-within {
      background-color: $neutral-100;
      box-shadow: none;
    }

    &.is-invalid {
      border-color: $semantic-error;
      background-color: $neutral-100; // 錯誤時背景微調
    }

    &:disabled {
      background-color: $neutral-300;
      cursor: not-allowed;
      opacity: 0.7;
    }
  }
  .form-label,
  .form-check-label {
    color: $neutral-700;
    font-size: 14px;
  }
  // 線框款欄位
  .form-group-outline {
    border: 1px solid $neutral-400;
    background-color: transparent;
    display: flex;

    &.active,
    &:focus-within {
      background-color: $neutral-100;
    }

    &.success {
      border-color: $CTA-200;
      .form-control {
        color: $CTA-200;
      }
    }

    &.error {
      border-color: $semantic-error;
      background-color: $neutral-100;
      margin-bottom: 8px;
      & + .error-message {
        display: flex;
        align-items: center;
      }
    }

    &.disabled {
      border-color: $neutral-400;
      background-color: $neutral-300;
      color: $neutral-500;
      cursor: not-allowed;
      .input-group-text,
      .form-control,
      .btn {
        color: $neutral-500;
        pointer-events: none;
      }
      .btn {
        background-color: $neutral-300;
      }
    }

    // 內部元件樣式
    .input-group-text {
      border: 0;
      background-color: transparent;
      padding: 2px 8px 2px 16px;
    }

    .form-control {
      border: 0;
      background-color: transparent;
      padding: 12px 8px;
      &:focus {
        box-shadow: none;
      }
    }

    .btn {
      padding: 12px 24px;
      background-color: $neutral-400;
      border-radius: 0 100px 100px 0;
      border: 0;
      &:hover {
        background-color: $neutral-500;
      }
    }
  }
}

// Cart right section
.cart-section-title {
  font-weight: bold;
  font-size: 16px;
  line-height: 21.6px;
  letter-spacing: 0.1rem;
  @media (min-width: 992px) {
    font-size: 20px;
    line-height: 24px;
  }
}
.order-list {
  .order-img {
    width: 48px;
    height: auto;
    @media (min-width: 992px) {
      width: 40px;
    }
  }
}

// Subscription
.subscription-list {
  font-size: 14px;
  line-height: 21px;
  color: $neutral-600;
}

.checkout-btn {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 16px 12px;
  background-color: $neutral-200;
  box-shadow: 0 -2px 4px 0 rgba(#000, 0.06);
  z-index: 2;
  display: block;
  @media (min-width: 376px) {
    display: none;
  }
}

// Others
.error-message {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.5;
  margin-top: 8px;
}

.bg-empty-cart {
  background-image: none;
  @media (min-width: 576px) {
    background-image:
      url('/images/Cart_Page/cart_pattern01.svg'), url('/images/Cart_Page/cart_pattern02.svg'),
      url('/images/Cart_Page/cart_pattern03.svg'), url('/images/Cart_Page/cart_pattern04.svg');
    background-size: 25%, 25%, 25%, 22%;
    background-position:
      left bottom,
      35% bottom,
      71% bottom,
      right bottom;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  }
}

//Empty cart
.empty-cart {
  &-main {
    padding-top: 68px;
    @media (min-width: 576px) {
      padding-top: 160px;
      padding-bottom: 90px;
    }
  }
  &-wrapper {
    padding: 100px 12px;
    border: 0;
    background-color: transparent;
    @media (min-width: 576px) {
      padding-top: 90px;
      padding-bottom: 90px;
      background-color: rgba($neutral-200, 0.7);
      backdrop-filter: blur(12px);
      border: 1px solid $neutral-200;
      border-radius: 40px;
    }
  }
  &-img {
    width: 120px;
    @media (min-width: 576px) {
      width: 160px;
    }
  }
  &-title {
    font-size: 16px;
    line-height: 19.2px;
    letter-spacing: 0.1rem;
    font-weight: bold;
    @media (min-width: 576px) {
      font-size: 20px;
      line-height: 24px;
    }
  }
}

.cart-wrapper {
  border: 0;
  background-color: transparent;
  @media (min-width: 576px) {
    padding: 28px;
    background-color: rgba($neutral-200, 0.7);
    backdrop-filter: blur(12px);
    border: 1px solid $neutral-200;
    border-radius: 40px;
  }
  td {
    padding-top: 12px;
    padding-bottom: 12px;
    @media (min-width: 576px) {
      padding-top: 16px;
      padding-bottom: 16px;
    }
  }
}
