// Hero banner
.hero-banner {
  height: 820px;
  background-image: url('/images/Home_Page/bg-hero-375.png');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media (min-width: 576px) {
    height: 1110px;
    display: block;
    background-image: url('/images/Home_Page/bg-hero-1920.png');
    background-position: center;
  }

  .container {
    padding-top: 0;
    text-align: center;
    @media (min-width: 576px) {
      padding-top: 415px;
      text-align: left;
    }
  }
}

.slogan {
  &-title {
    font-size: 18px;
    line-height: 21.6px;
    font-weight: bold;
    letter-spacing: 0.1rem;
    @media (min-width: 576px) {
      font-size: 24px;
      line-height: 28.8px;
    }
  }
  &-subtitle {
    font-size: 16px;
    line-height: 24px;
    @media (min-width: 576px) {
      font-size: 18px;
      line-height: 27px;
    }
  }
}

@media (min-width: 576px) {
  .title-hero {
    content: url('/images/Home_Page/title-hero-desktop.svg');
  }
}

// Brand features
@media (max-width: 992px) {
  .card-custom img {
    width: 80px;
    height: 80px;
  }
}

//Theme option swiper
.swiper-themeOpts-area {
  .swiper-themeOpts {
    width: 100%;
    height: 672px;
  }

  .swiper-button-prev::after,
  .swiper-button-next::after {
    display: none;
  }

  .swiper-button-prev,
  .swiper-button-next {
    z-index: 10;
  }

  .swiper-button-next svg,
  .swiper-button-prev svg {
    width: unset;
    height: unset;
  }

  div.swiper-button-prev {
    left: -88px;
  }

  div.swiper-button-next {
    right: -88px;
  }
}

//Subscription steps
.cakeroll-img {
  right: calc(50% - 1401px);
  bottom: -17px;
}

.cake-img {
  width: 244px;
  height: 272px;
  left: -20px;
  top: -48px;
  bottom: unset;
}

.dessert-img {
  right: -44px;
  top: -60px;
}

@media (max-width: 992px) {
  .subscribe-img {
    width: 152px;
    height: 40px;
  }

  .cakeroll-img {
    width: 388px;
    height: 260px;
    top: -60px;
    left: calc(50% - 23.5px);
  }
}

@media (min-width: 992px) {
  .cake-img {
    top: unset;
    left: -36px;
    bottom: -173px;
    width: 568px;
    height: 636px;
  }
}

//Sub banner
.w100Banner {
  background-image: url('/images/Home_Page/bg-cake.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  aspect-ratio: 2881 / 1249;
}

// Feedback & brands partner
.feedback-swiper {
  .swiper-wrapper {
    display: flex;
    align-items: stretch; /* 讓每個 slide 高度一致 */

    .swiper-slide {
      height: auto;
      .card {
        height: 100%; /* 卡片填滿 slide */
      }
    }
  }
}

.brands-swiper {
  display: flex;
  text-align: center;

  .swiper-wrapper {
    align-items: center;
  }

  .swiper-slide {
    width: auto;
  }
}

.brands-partner {
  padding-top: 60px;
  padding-bottom: 80px;
  @media (min-width: 992px) {
    padding-top: 120px;
    padding-bottom: 180px;
  }
}

// FAQ
.faq-wave {
  &::before {
    content: '';
    width: 100%;
    height: 20px;
    background-image: url('/images/Home_Page/deco-faq-wave-mobile.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: -19px;
  }
  @media (min-width: 375px) {
    &::before {
      background-image: url('/images/Home_Page/deco-faq-wave-desktop.svg');
      height: 60px;
      top: -60px;
    }
  }
}

.faq-bg {
  background-color: $neutral-300;
  .accordion-button,
  .accordion-body {
    background-color: $neutral-300;
  }
  @media (min-width: 576px) {
    background-color: $neutral-200;
    .accordion-button,
    .accordion-body {
      background-color: $neutral-200;
    }
  }
}
.rounded-panel {
  border-radius: 80px;
}

// 常見問題的分類標籤 tab
.faq-nav {
  flex-wrap: nowrap;
  justify-content: flex-start;
  overflow-x: auto; //手機版透過滾輪移動tab標籤
  scrollbar-width: none; //不顯示X軸
  margin-bottom: 16px;
  .nav-item {
    .nav-link {
      text-wrap: nowrap; //文字不會向下排列
      padding: 12px 24px;
      border: 1.5px solid $neutral-400;
      border-radius: 100px;
      color: $neutral-800;
      &:hover,
      &:active,
      &.active {
        background-color: $neutral-400;
        color: $neutral-900;
      }
    }
  }
  @media (min-width: 576px) {
    justify-content: center;
    margin-bottom: 0;
    .nav-item {
      .nav-link {
        padding: 12px 24px;
        border: 1.5px solid $neutral-400;
        border-radius: 100px;
        color: $neutral-800;
        &:hover,
        &:active,
        &.active {
          background-color: $neutral-400;
          color: $neutral-900;
        }
      }
    }
  }
}

// 常見問題的題目及答案 accordion
.accordion-item {
  .accordion-button {
    padding: 12px 0px;
    &::after {
      display: none;
      /* 隱藏預設箭頭 */
    }
    &:focus {
      box-shadow: none; //隱藏預設的粉色外框
    }
    /* 收合顯示加號 */
    &[aria-expanded='false'] {
      .add {
        display: inline-block;
      }
      .sub {
        display: none;
      }
    }
    /* 展開時顯示減號 */
    &[aria-expanded='true'] {
      .add {
        display: none;
      }
      .sub {
        display: inline-block;
      }
    }
    &:hover,
    &:active {
      border: none;
      $accordion-button-focus-box-shadow: $neutral-300;
      background-color: $neutral-300;
    }
  }
  .accordion-collapse {
    border: none;

    .accordion-body {
      padding: 0 0 16px 0;
      &:active,
      &:focus {
        border: none;
      }
    }
  }
  @media (min-width: 576px) {
    .accordion-button {
      padding: 16px 24px;
      box-shadow: none;
    }
    .accordion-collapse {
      .accordion-body {
        padding: 0px 24px 24px 24px;
        border: none;
      }
    }
  }
}
