.bg-login {
  background-image: url('/images/Cart_Page/deco-02.svg'), url('/images/Cart_Page/deco-03.svg');
  background-size: 70%, 70%;
  background-position:
    -70% bottom,
    175% bottom;
  background-repeat: no-repeat, no-repeat, no-repeat;
  @media (min-width: 576px) {
    background-image:
      url('/images/Cart_Page/deco-01.svg'), url('/images/Cart_Page/deco-02.svg'),
      url('/images/Cart_Page/deco-03.svg'), url('/images/Cart_Page/deco-04.svg');
    background-size: 25%, 25%, 25%, 22%;
    background-position:
      left bottom,
      35% bottom,
      71% bottom,
      right bottom;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  }
}

.login-main {
  padding-top: 100px;
  padding-bottom: 100px;
  @media (min-width: 768px) {
    padding-top: 140px;
    padding-bottom: 140px;
  }
}

.bg-pattern {
  background-image: url('/images/Theme_Detail/Feature/bg-grid-desktop.svg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.panel-wrapper {
  overflow: hidden;
  background-color: $neutral-200;
  border-radius: 0;
  @media (min-width: 768px) {
    border-radius: 40px;
  }
}

.login-panel-bg {
  background-image: url('/images/Login_Page/pic-login.webp');
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  width: 100%;
  height: 200px;
  position: absolute;
  inset: 0;

  @media (min-width: 768px) {
    height: 100%;
  }
}

.login-right-modal {
  padding-top: 260px;
  padding-bottom: 80px;
  @media (min-width: 768px) {
    padding-top: 80px;
    padding-bottom: 100px;
  }
}
