@mixin icon-underline {
  content: '';
  width: 16px;
  height: 2px;
  position: absolute;
  bottom: 4px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 100px;
  background-color: $primary-600;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
  &-toggler-icon {
    width: 24px;
    height: 24px;
  }
}

.nav-icon {
  position: relative;
  &:hover,
  &:active,
  &.active {
    color: $primary-600;
  }
  &:active,
  &.active {
    &::after {
      @include icon-underline;
    }
  }
}

.header {
  border-radius: 100px;
  position: relative;
  background-color: $neutral-100;
}

.user-avatar-btn {
  width: 112px;
}

.avatar {
  flex-shrink: 0;
  width: 24px;
  border-radius: 50%;
  img {
    border-radius: 50%;
  }
}

.logo-icon {
  width: 44px;
  @media (min-width: 992px) {
    width: 120px;
  }
}

.cart-count {
  width: 20px;
  height: 20px;
  color: $neutral-100;
  background-color: $primary-600;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.2;
}

.user-name {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis; // 使用...截斷文字
  white-space: nowrap; // 不換行
}
